version: '3'
services:
  queue-app:
    image: best-queue #alfarv/best-queue
    container_name: queue-app-container
    hostname: queue-app
    ports:
      - "8080:8080"
    volumes:
      - queue-data:/data
    networks:
      - app-net

volumes:
  queue-data:

networks:
  app-net:
    driver: bridge
